<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Para o Cliente</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

</head>
<body>
    <!-- HEADER CLIENT -->
    {% include '_header/client.html' %}
    <!-- HEADER CLIENT -->

    <!-- PAGE COMPONENTS -->
    <h1>Welcome, user!</h1>
    <p>You have access to general content.</p>
    <!-- PAGE COMPONENTS -->

    <!-- FOOTER -->
    <footer>
        <p>&copy; 2024 - Ticket2Help - Ronald Diogo Ana, Inc.</p>
    </footer>
    <!-- FOOTER -->
</body>
</html>