<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Para o Técnico</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- HEADER TECHNIC -->
    {% include '_header/technic.html' %}
    <!-- HEADER TECHNIC -->

    <!-- PAGE COMPONENTS -->
    <h1>Welcome, privileged user!</h1>
    <p>You have access to special content.</p>
    <!-- PAGE COMPONENTS -->

    <!-- FOOTER -->
    <div>
        <footer>
          <p>&copy 2024 - Ticket2Help - Ronald Diogo Ana, Inc.</p>
        </footer>
    </div>
    <!-- FOOTER -->
</body>
</html>