<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Para o Técnico</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

</head>

<body>
    <!-- HEADER TECHNIC -->
    {% include '_header/technic.html' %}
    <!-- HEADER TECHNIC -->
    <div class="div">
    <!-- PAGE COMPONENTS -->
    <h1>Welcome to Your Ticket2Help Technic Account</h1>
    <p>You have access to tickets so you can attend to them and create reports.</p>
    <!-- PAGE COMPONENTS -->
    </div>
    <!-- FOOTER -->

        <footer>
          <p>&copy; 2024 - Ticket2Help - Ronald Diogo Ana, Inc.</p>
        </footer>

    <!-- FOOTER -->
</body>
</html>