/* ESTILOS PARA USO NA APLICAÇÃO */
body{
    font-family: Arial, sans-serif;
}
/* HEADERS */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.header button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.header button:hover {
    background-color: #777;
}

.button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}


/* TABLES */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}


footer {
       position: fixed;
       bottom: 0;
       width: 100%;
       background-color: #333;
       color: white;
       text-align: center;
       padding: 10px 0;
}