<!-- Header para páginas de técnicos -->
    <div class="header">
        <a href="{% url 'home' %}">
            <button>Home</button>
        </a>
        <a href="{% url 'manage_tickets' %}">
            <button>Manage Tickets</button>
        </a>
        <a href="{% url 'tickets_atendidos' %}">
            <button>Generate Report</button>
        </a>

        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
