<!-- ticket_types_chart.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gráfico de Tipos de Ticket</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- HEADER TECHNIC -->
    {% include '_header/technic.html' %}
    <!-- HEADER TECHNIC -->
    <h1>Gráfico de Tipos de Ticket</h1>

    <div align="center">
        <img src="data:image/png;base64,{{ grafico_data }}" alt="Gráfico de Tipos de Ticket">
    </div>
</body>
</html>