<!DOCTYPE html>
<html>
<head>
    <title>Lista de Tickets</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- HEADER CLIENT -->
    {% include '_header/technic.html' %}
    <!-- HEADER CLIENT -->

    <h1>Ticket List</h1>

    <!-- Filter buttons -->
    <div>
        <a href="?type=all"><button>All Tickets</button></a>
        <a href="?type=hardware"><button>Hardware Tickets</button></a>
        <a href="?type=software"><button>Software Tickets</button></a>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Date Created</th>
                <th>Type</th>
                <th>Submitted By</th>
                <th>Ticket State</th>
                <th>Service State</th>
                <th>Last Update</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.dtCriacao }}</td>
                    <td>{{ ticket.tipo }}</td>
                    <td>{{ ticket.idColaborador }}</td>
                    <td>{{ ticket.estTicket }}</td>
                    <td>{{ ticket.estAtendimento }}</td>
                    <td>{{ ticket.dtUltimaAlt }}</td>
                    <td><a href="{% url 'ticket_details' ticket.id %}">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- FOOTER -->

        <footer>
          <p>&copy 2024 - Ticket2Help - Ronald Diogo Ana, Inc.</p>
        </footer>
    
    <!-- FOOTER -->
</body>
</html>